.button {
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
    transition: opacity 0.1s;
  }

  &_disabled {
    opacity: 0.3;
    pointer-events: none;
    transition: opacity 0.2s;
  }
}
